.nav {
    border: 3px solid blue;
    padding: 0px 18px;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 12px;
}

h2 {
    flex: 1;
}

@media (max-width: 800px) {
    .nav {
        flex-direction: column;
    }
}

@media (max-width: 600px) {
    .nav-links {
        flex-direction: column;
    }
}

.box {
    width: 200px;
    height: 200px;
    padding: 30px;
    border: 1px solid blue;
}

.box1 {
    margin-bottom: 20px;
    box-sizing: border-box;
}

.container2{
    width: 200px;
    height: 200px;
    border: 1px solid #000;
    position: relative;
    display: flex;
}

.boxx{
    width: 50px;
    height: 50px;
}

.boxx:nth-child(1){
    background-color: rebeccapurple;
}

.boxx:nth-child(2){
    background-color: blue;
    position: relative;
    margin-top: 10px;
}

.container2 .box22x::before{
    content: "11111";
    display: flex;
    width: 30px;
    height: 30px;
    border: 2px solid black;
}

.container2::before{
    content: "2232";
    width: 50px;
    height: 50px;
    background-color: aqua;
    display: flex;
    transform: translateX(-50%) rotate(45deg);


}