$flex-display: flex;
$size-tiny: 1rem;

$colors: (
    main: #521751,
    secondary: #fa923f
);

$border-default: 0.05rem solid map-get($map: $colors, $key: main);
$font-family-default: Arial, sans-serif;