@import "_variables.scss";
@import "_typography.scss";

@mixin display-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin media-min-width($width) {
  @media (min-width: $width) {
    @content;
  }
}

html {
  font-size: 94.75%;

  @include media-min-width($medium-screen-size) {
    font-size: 125%;
  }

}

body {
  font-family: $font-family-default;
  margin: 0;
}

.container {
  @include display-flex();

  flex: {
    direction: column;
    wrap: nowrap;
  }

  align-items: center;
  padding: $size-tiny * 3 0;
  box-sizing: border-box;

  @include media-min-width($medium-screen-size) {
    padding: $size-tiny * 3 0;
  }
}

.sass-section {
  border: $border-default;
  background: lighten(map-get($colors, main), 72%);
  text-align: center;
  width: 90%;
  box-sizing: border-box;
}

.sass-introduction {
  @extend .sass-section;
  padding: $size-tiny * 2;
  box-shadow: 0.2rem 0.2rem 0.1rem #ccc;

  @include media-min-width($medium-screen-size) {
    width: 30rem;
  }
}

.sass-introduction p {
  margin: 0;
}

.sass-details {
  @extend .sass-section;
  padding: $size-tiny;
  margin: $size-tiny*2 0;

  @include media-min-width($medium-screen-size) {
    width: 30rem;
  }
}

.section-header {
  border-bottom: $border-default;
}

.section-header h1 {
  margin: 0 0 $size-tiny 0;
}

.documentation-links {
  list-style: none;
  margin: $size-tiny 0 0 0;
  padding: 0;
  @include display-flex();
  flex-direction: column;
}

.documentation-links li {
  margin: 0.2rem 0;
  background: white;
}

.documentation-links .documentation-link {
  text-decoration: none;
  color: map-get($colors, main);
  display: block;
  padding: 0.2rem;
  border: 0.05rem solid map-get($colors, main);
}

.documentation-link {

  &:hover,
  &:active {
    color: white;
    background: map-get($colors, secondary);
    border-color: map-get($colors, secondary);
  }

}