/* Error: Missing argument $key.
 *   ,--> main.scss
 * 34|   background: lighten(map-get($colors));
 *   |                       ^^^^^^^^^^^^^^^^ invocation
 *   '
 *   ,--> sass:map
 * 1 | @function get($map, $key, $keys...) {
 *   |           ========================= declaration
 *   '
 *   main.scss 34:23  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Missing argument $key.\a   \250c \2500 \2500 > main.scss\a 34\2502    background: lighten(map-get($colors));\a   \2502                        ^^^^^^^^^^^^^^^^ invocation\a   \2575 \a   \250c \2500 \2500 > sass:map\a 1 \2502  @function get($map, $key, $keys...) {\a   \2502            \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501  declaration\a   \2575 \a   main.scss 34:23  root stylesheet";
}
