body{
    margin: 0 auto;
}

.box{
    max-width: 1000px;
    margin: 0 auto;
}

.wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}

.card{
    max-width: 250px;
    min-height: 240px;
    height: 400px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-radius: 3px;
    margin: 20px;
    box-shadow: rgb(50 50 93 / 25%) 0px 30px 60px -12px,
    rgb(0 0 0 / 30%) 0px 18px 36px -18px;
}

.card_title{
    font-family: sans-serif;
    font-weight: bold;
    margin: 10px;
    margin-bottom: 2px;
}

.wrapper :nth-child(2){
    transform: translateY(50px);
}

.wrapper :nth-child(3){
    transform: translateY(100px);
}

.card_image_container img{
    width: 100%;
}

.card_image_container{
    width: 60%;
}

.card_content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bottom {
    top: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(237, 246, 250);
    position: relative;
    font-family: sans-serif;
}

.left {
    max-width: 700px;;
    padding: 100px;
}

.button {
    display: flex;
    justify-content: center;
    text-decoration: none;
    border: 2px solid black;
    padding: 10px 10px;
    margin-top: 30px;
    margin-left: 20px;
    max-width: 150px;
    border-radius: 20px;
    gap: ;

}

.left a:hover {
    background-color: blueviolet;
}

.right {
    min-width: 650px;
}

h2 {
    font-family: sans-serif;
}

.unorder {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5px 5px;
    margin: 0;
}

.list {
    list-style: none;
    max-width: 300px;
}

.first_line {
    color: blue;
}