@import url("https://fonts.googleapis.com/css?family=Roboto");
body{
    font-family: "Roboto", sans-serif;
}

h1{
    color: #4181ee;
    display: flex;
    justify-content: center;
}

.card{
    max-width: 300px;
    min-height: 250px;
    background-color: aquamarine;
    box-sizing: border-box;
    color: #fff;
    padding: 30px;
    border-radius: 3px;
    margin: 20px;
    box-shadow: rgb(50 50 93 / 25%) 0px 30px 60px -12px,
    rgb(0 0 0 / 30%) 0px 18px 36px -18px;
}

.card:hover{
    transform: translateY(-5px);
}

.card:nth-child(2){
    background-color: #673ab7;
}

.card:last-child{
    background-color: #4181ee;
}

.wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card_image_container img{
    width: 100%;
}

.card_content{
    width: 100%;
}

.cardTitle{
    margin-bottom: 20px;
}

.card_info{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

.text{
    flex: 1;
}

.card_price{
    background-color: #303032;
    color: #fff;
    padding: 5px 20px;
    border-radius: 20px;
    cursor: pointer;
    border: none;
}





